        <div id="page-wrapper">

            <div class="container-fluid">

                <!-- Page Heading -->
                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Final Project
                        </h1>
                        <ol class="breadcrumb">
                            <li>
                                <i class="fa fa-dashboard"></i>  <a href="index.html">Dashboard</a>
                            </li>
                            <li class="active">
                                <i class="fa fa-edit"></i> Input Data
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->
				
				<!--/.form input -->
				<div class="col-lg-12">
				<div class="col-lg-6">
				<div class="row">
					<form role="form">
						<div class="form-group">
							<label>Judul Final Project</label>
							<input class="form-control">
								<p class="help-block"> Masukan judul dari final project anda disini</p>
						</div>
						<div class="form-group">
							<label>NRP User 1</label>
							<input class="form-control">
								<p class="help-block"> Masukan NRP user 1 disini</p>
						</div>
						<div class="form-group">
							<label>NRP User 2</label>
							<input class="form-control">
								<p class="help-block"> Masukan NRP user 2 disini</p>
						</div>
						<div class="form-group">
							<label>NRP User 3</label>
							<input class="form-control">
								<p class="help-block"> Masukan NRP user 3 disini</p>
						</div>
						<div class="form-group">
							<label>NRP User 4</label>
							<input class="form-control">
								<p class="help-block"> Masukan NRP user 4 disini</p>
						</div>
						<div class="form-group">
							<label>NRP User 5</label>
							<input class="form-control">
								<p class="help-block"> Masukan NRP user 5 disini</p>
						</div>
						<div class="form-group">
							<label>NRP User 6</label>
							<input class="form-control">
								<p class="help-block"> Masukan NRP user 6 disini</p>
						</div>
						<div class="form-group">
							<label>NIP Dosen</label>
							<input class="form-control">
								<p class="help-block"> Masukan NIP Dosen disini</p>
						</div>
				</div>
				</div>
                <div class="col-lg-6" style="padding-left:50px">
				<div class="row">
					
						<div class="form-group">
							<label>Deskripsi Final Project</label>
								<textarea class="form-control" rows="3"></textarea>
						</div>
						<div class="form-group">
							<label>Semester</label>
								<select class="form-control" >
									<option>Semester 1</option>
									<option>Semester 2</option>
									<option>Semester 3</option>
									<option>Semester 4</option>
									<option>Semester 5</option>
									<option>Semester 6</option>
									<option>Semester 7</option>
									<option>Semester 8</option>
								</select>
						</div>
						<div class="form-group">
							<label>Matakuliah</label>
								<select class="form-control" >
								<option>Matematika Diskrit</option>
								<option>Sistem Digital</option>
								<option>Dasar Pemrograman</option>
								<option>Sistem dan Teknologi Informasi</option>
								<option>Aljabar Linier</option>
								<option>Matematika Informatika</option>
								<option>Organisasi Komputer</option>
								<option>Struktur Data</option>
								<option>Pemrograman Berorientasi Objek</option>
								<option>Perancangan dan Analisis Algoritma I</option>
								<option>Sistem Basis Data</option>
								<option>Teori Graf</option>
								<option>Probabilitas dan Statistik</option>
								<option>Sistem Operasi</option>
								<option>Pemrograman Web</option>
								<option>Perancangan dan Analisis Algoritma II</option>
								<option>Manajemen Basis Data</option>
								<option>Kecerrdasan Buatan</option>
								<option>Otomata</option>
								<option>Jaringan Komputer</option>
								<option>Analisis dan Perancangan Sistem Informasi</option>
								<option>Grafika Komputer</option>
								<option>Kecerdasan Komputasional</option>
								<option>Komputasi Numerik</option>
								<option>Pemrograman Jaringan</option>
								<option>Manajemen Proyek Perangkat Lunak</option>
								<option>Rekayasa Kebutuhan</option>
								<option>Penjamin Mutu Perangkat Lunak</option>
								<option>Arsitektur Perangkat Lunak</option>
								<option>Interaksi Manusia dan Komputer</option>
								<option>Animasi Komputer dan Pemodelan 3D</option>
								<option>Teknik Pengembangan Game</option>
								<option>Pemrograman berbasi Kerangka Kerja</option>
								<option>Rekayasa Pengetahuan</option>
								<option>Sistem Enterprise</option>
								<option>Analisis Data Multivariat</option>
								<option>Data Mining</option>
								<option>Pengolahan Citra Digital</option>
								<option>Pemrograman Linier</option>
								<option>Keamanan Informasi dan Jaringan</option>
								<option>Komputasi Bergerak</option>
								<option>Komputasi Awan</option>
								<option>Jaringan Nirkabel</option>
								<option>Tekniologi antar Jaringan</option>
								<option>Kerja Praktik</option>
								<option>Evolusi Perangkat Lunak</option>
								<option>Konstruksi Perangkat Lunak</option>
								<option>Realitas Virtual dan Augmentasi</option>
								<option>Sistem Game</option>
								<option>Topik Khusus IGS</option>
								<option>Pemrograman Perangkat Bergerak</option>
								<option>Topik Khusus Algroritma dan Pemrograman</option>
								<option>Audit Sistem</option>
								<option>Sistem Informasi Geografis</option>
								<option>Tata Kelola Teknologi Informasi</option>
								<option>Komputasi Biomedik</option>
								<option>Robotika</option>
								<option>Sistem Temu Kembali Informasi</option>
								<option>Visi Komputer</option>
								<option>Pemodelan dan Simulasi</option>
								<option>Jaringan Multimedia</option>
								<option>Komputasi Grid dan Paralel</option>
								<option>Kompresi Data</option>
								<option>Topik Khusus Komputasi berbasis Jaringan</option>
								<option>Komputasi Pervasif dan Jaringan Sensor</option>
								<option>Perancangan Keamanan Sistem dan Jaringan</option>
								<option>Topik Khusus Arsitektur dan Jaringan Komputer</option>
								<option>Proposal Tugas Akhir (Metode Tugas Akhir)</option>
								<option>Technopreneurship</option>
								<option>Topik Khusus Rekayasa Perangkat Lunak</option>
								<option>Ekonomi Rekayasa Perangkat Lunak</option>
								<option>Penyempurnaan Proses Perangkat Lunak</option>
								<option>Basis Data Terdistribusi</option>
								<option>Big Data</option>
								<option>Topik Khusus Manajemen Informasi</option>
								<option>Analisis Media Sosial</option>
								<option>Topik Khusus KCV</option>
								<option>Topik Khusus Dasar & Terapan Komputasi</option>
								<option>Sistem Terdistribusi</option>
								<option>Forensik Digital</option>
								</select>
						</div>
						<div class="form-group">
							<label>Screenshot</label>
							<input type="file">
						</div>
						<div class="form-group">
							<label>Video</label>
							<input class="form-control">
								<p class="help-block"> Masukan link youtube dari final project anda</p>
						</div>
						<div class="form-group">
							<label>Demo</label>
							<input type="file">
						</div>
							
							<br>
							<br>
								<button class="btn btn-primary" type="button" data-toggle="modal" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
									Submit
								</button>
								<button type="reset" class="btn btn-default">Reset</button>
							<div class="modal" id="collapseExample" style="top:50%">
							<div class="col-lg-6" style="left:30%">
							  <div class="alert alert-success" style="margin-top:20px;">
								<center>
								<strong>Selamat! Input berhasil!</strong>
								</center>
							  </div>
							</div>
							</div>
					
							
					</form>
				</div>
				</div>
				
				</div>

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="js/plugins/morris/raphael.min.js"></script>
    <script src="js/plugins/morris/morris.min.js"></script>
    <script src="js/plugins/morris/morris-data.js"></script>

    <!-- Flot Charts JavaScript -->
    <!--[if lte IE 8]><script src="js/excanvas.min.js"></script><![endif]-->
    <script src="js/plugins/flot/jquery.flot.js"></script>
    <script src="js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="js/plugins/flot/jquery.flot.pie.js"></script>
    <script src="js/plugins/flot/flot-data.js"></script>

</body>

</html>
